<h3>Posts list</h3>

<p>
  {{!-- {{link-to "New Post" "posts.new" class='btn red darken-2'}} --}}
  {{!-- {{#link-to 'posts.new' class='btn red darken-2'}}<i class="material-icons left">add</i>New Post{{/link-to}} --}}
  {{#link-to 'posts.new' class='btn red darken-2'}}<i class="material-icons">add</i>{{/link-to}}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Body
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |post|}}
        <tr>
          <td>
            {{!post.title}}
            {{
              ember-inplace-edit
              text=post.title
              value=post.title
              action="save"
            }}
          </td>
          <td>
            {{!post.body}}
            {{
              ember-inplace-edit
              text=post.body
              value=post.body
              action="save"
            }}
          </td>
          <td>
            {{#link-to 'posts.edit' post class='btn-floating red darken-2'}}<i class="material-icons">edit</i>{{/link-to}}
            {{!link-to "Edit" "posts.edit" post class='btn red darken-2'}}

            {{#link-to 'posts.show' post class='btn-floating red darken-2'}}<i class="material-icons">launch</i>{{/link-to}}
            {{!-- {{#link-to 'posts.show' post class='btn-floating red darken-2'}}Show{{/link-to}} --}}
            {{!link-to "Show" "posts.show" post tagName='button'}}

            <a class="btn-floating red darken-2" {{action 'remove' post}}><i class="material-icons">delete</i></a>
            {{!-- <i class="material-icons btn" {{action 'remove' post}}>delete</i> --}}
            {{!-- <a href="#" {{action "remove" post}}>Remove</a> --}}
            {{!-- <button class="btn red darken-2" {{action 'remove' post}}>Remove</button> --}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Posts found
  </p>
{{/if}}
